{{>partials/header}}
<h3>SOBRE NÓS</h3>

<div style="background-color: #f1f1f1; color: #454545;">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore reprehenderit odit numquam? Quidem, voluptatum unde officiis perspiciatis ducimus voluptatem harum, velit dicta in, eveniet qui.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <button><a href="#">Leia mais</a></button>
</div>
{{>partials/footer}}